<aside class="sidenav">

  <button id="toggle-btn" class="toggle-btn">
    <span class="arrow">&lt;</span>
  </button>
  
  <div class="sidebar-logo">
    <img src="../assets/images/navi-logo.png" alt="Navi logo" class="sidenav-logo" />
    <p>Navi's Desk</p>
  </div>

  <nav>
    <a href="dashboard.html" class="active">
      <span class="sidenav-icon">
        <img src="../assets/images/dashboard-icon.png" alt="Dashboard icon" />
      </span>
      <span class="link-text">Dashboard</span>
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/user-mgmt-icon.png" alt="User management icon" />
      </span>
      <span class="link-text">User Management</span>
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/submissions-icon.png" alt="Submissions icon" />
      </span>
      <span class="link-text">Submissions</span>
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/organizations-icon.png" alt="Organizations icon" />
      </span>
      <span class="link-text">Organizations</span>
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/deadlines-icon.png" alt="Deadlines icon" />
      </span>
      <span class="link-text">Deadlines</span>
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/system-settings-icon.png" alt="System settings icon" />
      </span>
      <span class="link-text">System Settings</span>
    </a>
  </nav>

  <div class="user-profile">
    <img src="../assets/images/gab.png" alt="User Avatar" class="user-avatar" />
    <span class="link-text">Alyson Gabriel Flores</span>
  </div>
</aside>
