<aside class="sidenav">
  <img src="../assets/images/navi-logo.png" alt="Navi logo" class="sidenav-logo" />

  <nav>
    <a href="dashboard.html" class="active">
      <span class="sidenav-icon">
        <img src="../assets/images/dashboard-icon.png" alt="Dashboard icon" />
      </span>
      Dashboard
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/user-mgmt-icon.png" alt="User management icon" />
      </span>
      User Management
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/submissions-icon.png" alt="Submissions icon" />
      </span>
      Submissions
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/organizations-icon.png" alt="Organizations icon" />
      </span>
      Organizations
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/deadlines-icon.png" alt="Deadlines icon" />
      </span>
      Deadlines
    </a>

    <a href="#">
      <span class="sidenav-icon">
        <img src="../assets/images/system-settings-icon.png" alt="System settings icon" />
      </span>
      System Settings
    </a>
  </nav>
</aside>