.main {
  margin-left: 16rem;
  padding: 2rem;
  padding-bottom: 5rem; /* extra space at the bottom */
  min-height: 100vh; /* ensure the main area fills viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* allows content to grow downward */
  align-items: center;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

.main.collapsed-sidebar {
  margin-left: 5rem;
  transition: margin-left 0.3s ease;
}

.main.collapsed-sidebar .dashboard-folder {
  max-width: 90vw;
}

.dashboard-folder {
  position: relative;
  border-radius: 8px;
  width: calc(100% - 2rem);
  max-width: 80vw;
  min-height: 50vh; /* ensures some initial height */
  display: flex;           
  flex-direction: column;  
  overflow: visible;
  transition: width 0.3s ease, max-width 0.3s ease;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  position: relative; 
}

.welcome h1 {
  font-family: "PoppinsBold", sans-serif;
  font-size: 2rem;
}

.welcome span {
  font-family: "PoppinsSemiBold", sans-serif;
  color: #073066;
}

/* Folder body */
.folder-body {
  background-color: #ffb901;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px 0 8px 8px;
}

/* Folder Tab aligned to the right using align-self */
.folder-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 80px;
  border-radius: 16px 16px 0 0;
  background-color: #ffb901;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: -1;

  margin-top: -4rem;   /* keeps it above folder */
  align-self: flex-end; /* moves it to the right */
}

.folder-tab h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}
