<aside class="sidebar">

  <button id="toggle-btn" class="toggle-btn">
    <span class="arrow">&lt;</span>
  </button>
  
  <div class="sidebar-logo">
    <img src="../assets/images/navi-logo.png" alt="Navi logo" class="sidebar-logo" />
    <p>Navi's Desk</p>
  </div>

  <nav>
    <a href="dashboard.html">
      <span class="sidebar-icon">
        <img src="../assets/images/dashboard-icon.png" alt="Dashboard icon" />
      </span>
      <span class="link-text">Dashboard</span>
    </a>

    <a href="#">
      <span class="sidebar-icon">
        <img src="../assets/images/submit-icon.png" alt="Submit icon" />
      </span>
      <span class="link-text">Submit Activity</span>
    </a>

    <a href="#">
      <span class="sidebar-icon">
        <img src="../assets/images/submissions-icon.png" alt="Activities icon" />
      </span>
      <span class="link-text">My Activities</span>
    </a>
  </nav>

  <div class="user-profile">
    <img src="../assets/images/org-photo.png" alt="User Avatar" class="user-avatar" />
    <span class="link-text">Integrated Confederacy</span>
  </div>
</aside>
