<aside class="sidebar">

  <button id="toggle-btn" class="toggle-btn">
    <span class="arrow">&lt;</span>
  </button>
  
  <div class="sidebar-logo">
    <img src="../../../assets/images/navi-logo.png" alt="Navi logo" class="sidebar-logo-img" />
    <p>Navi's Desk</p>
  </div>

  <nav>
    <a href="dashboard.html">
      <span class="sidebar-icon">
        <img src="../../../assets/images/dashboard-icon.png" alt="Dashboard icon" />  
      </span>
      <span class="link-text">Dashboard</span>
    </a>

    <a href="../pages/activities.html">
      <span class="sidebar-icon">
        <img src="../../../assets/images/submissions-icon.png" alt="Activities icon" />
      </span>
      <span class="link-text">Activities</span>
    </a>

    <a href="../pages/organizations.html">
      <span class="sidebar-icon">
        <img src="../../../assets/images/organizations-icon.png" alt="Organizations icon" />
      </span>
      <span class="link-text">Organizations</span>
    </a>
  </nav>

  <div class="user-profile">
    <img src="../../../assets/images/osas.png" alt="User Avatar" class="user-avatar" />
    <span class="link-text">Office of Student Affairs and Services</span>
  </div>
</aside>
