.main {
  margin-left: 16rem;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

.main.collapsed-sidebar {
  margin-left: 5rem;
  transition: margin-left 0.3s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.grid-item {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  font-family: "PoppinsSemiBold", sans-serif;
  color: #073066;
}

.small {
  grid-column: span 1;
  height: 200px;
  margin-bottom: 20px;
}

.medium {
  grid-column: span 2;
  height: 460px;
}

.grid-item.small .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.left-details .number {
  font-size: 40px;
  font-family: "PoppinsSemiBold", sans-serif;
  margin-bottom: -10px;
}

.left-details .desc {
  font-family: "Poppins";
}

.number#first {
  color: #208bff;
}
.number#second {
  color: #34c759;
}
.number#third {
  color: #ff5039;
}
.number#fourth {
  color: #ffa325;
}

.grid-item.medium .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.grid-item.medium canvas {
  width: 100% !important;
  height: 380px !important;
}


